html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #F6F6F6;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav {
  width: 100%;
  background: white;
}
nav .nav-bar {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: white;
}
nav .nav-bar .nav-bar-btn {
  position: absolute;
  left: 1%;
}
nav .nav-bar .nav-bar-btn a {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Montserrat";
  margin-left: 20px;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #F29898;
  border-radius: 15px;
  transition-duration: 0.5s;
}
nav .nav-bar .nav-bar-btn a:hover {
  border: 2px solid transparent;
  border-bottom: 2px solid #F29898;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  transition-duration: 0.5s;
  cursor: pointer;
  color: #78D7DE;
}
nav .nav-bar .logo {
  width: 115px;
  padding: 5px 0;
}

.banner {
  box-shadow: inset 0px 10px 13px 5px rgba(0, 0, 0, 0.13);
  border-bottom: 5px solid #78D7DE;
  width: 100%;
  height: 500px;
  background-image: url("C:/Users/Tony/Desktop/Projets/Kiddy Company/public/img/background1-min.webp");
  background-position: center;
  background-size: cover;
  background-position-y: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  color: white;
  text-align: center;
}
.banner p {
  margin-top: 10px;
}
.banner .outer {
  font-size: 30px;
}

.banner2 {
  box-shadow: inset 0px 10px 13px 5px rgba(0, 0, 0, 0.13);
  width: 100%;
  height: 500px;
  background-image: url("C:/Users/Tony/Desktop/Projets/Kiddy Company/public/img/background2.webp");
  background-position: center;
  background-size: cover;
  background-position-y: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  color: white;
  text-align: center;
}
.banner2 p {
  margin-top: 10px;
}
.banner2 .outer {
  font-size: 30px;
}

.profil {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.profil img {
  object-fit: cover;
  width: 100%;
  height: 350px;
}
.profil h2 {
  margin: auto;
  padding: 10px;
  font-family: "Montserrat";
  border-bottom: 4px solid #F29898;
}
.profil .profilContainer {
  width: 100%;
  margin: 35px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.profil .profilContainer .profilCard {
  width: 20%;
  box-shadow: 1px 10px 18px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
}
.profil .profilContainer .profilCard a {
  padding: 15px;
  background-color: #78D7DE;
  font-family: "Montserrat";
  text-decoration: none;
  color: white;
  margin-top: 20px;
  font-size: 20px;
  transition-duration: 0.4s;
}
.profil .profilContainer .profilCard a:hover {
  background-color: #F29898;
  transition-duration: 0.4s;
}
.profil .profilContainer .profilCard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.profil .profilContainer .profilCard .profilContent {
  margin: 5px 15px;
  font-family: "Montserrat";
  height: 250px;
}
.profil .profilContainer .profilCard .profilContent h3 {
  display: flex;
  align-items: center;
}
.profil .profilContainer .profilCard .profilContent h3 i {
  margin-left: 5px;
}
.profil .profilContainer .profilCard .profilContent p {
  margin: 10px;
}
.profil .profilContainer .profilCard .profilPrix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-left: 15px;
  margin-top: 15px;
  font-family: "Montserrat";
  align-items: center;
}
.profil .profilContainer .profilCard .profilPrix p:nth-child(2) {
  font-weight: bold;
}
.profil .profilContainer .profilCard .profilNote {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-left: 15px;
  margin-top: 5px;
  font-family: "Montserrat";
  align-items: center;
}
.profil .profilContainer .profilCard .profilNote p:nth-child(2) {
  font-weight: bold;
}
.profil .profilContainer .profilCard .profilLocalisation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-left: 15px;
  margin-top: 5px;
  font-family: "Montserrat";
  align-items: center;
}
.profil .profilContainer .profilCard .profilLocalisation p:nth-child(2) {
  font-weight: bold;
}

.avis {
  width: 100%;
}
.avis .avisContainer {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}
.avis .avisContainer .avisContainerCard {
  width: 25%;
  margin: 30px 0;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  overflow: hidden;
}
.avis .avisContainer .avisContainerCard img {
  width: 100%;
}
.avis .avisContainer .avisContainerCard .description {
  padding: 8px;
  font-family: "Montserrat";
  height: 200px;
}
.avis .avisContainer .avisContainerCard .description h3 {
  margin-top: 5px;
}
.avis .avisContainer .avisContainerCard .description p {
  font-style: italic;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.7);
}
.avis .avisContainer .avisContainerCard .stars {
  color: #e9c46a;
  margin-top: 10px;
  margin-left: 10px;
  padding: 8px;
}
.liner {
  margin: 2px 5px;
  height: 6px;
  width: 60px;
  background-color: #F29898;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.buttonContainer a {
  color: #FFEDB2;
  font-family: "Montserrat";
  background-color: #F29898;
  font-size: 20px;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 15px;
  transition-duration: 0.5s;
  text-decoration: none;
}
.buttonContainer a:hover {
  border: 2px solid transparent;
  border-bottom: 2px solid #78D7DE;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  transition-duration: 0.5s;
  cursor: pointer;
}

footer {
  width: 100%;
}
footer .containerFooter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #78D7DE;
  padding: 40px 0;
}
footer .containerFooter i {
  color: #FFEDB2;
  margin-right: 5px;
}
footer .containerFooter .footerTitle {
  color: #353535;
  font-family: "Montserrat";
}
footer .containerFooter .footerRedirect {
  font-family: "Montserrat";
  margin-top: 10px;
  transition-duration: 1s;
}
footer .containerFooter .footerRedirect:hover i {
  transform: rotate(360deg);
  transition-duration: 1s;
  cursor: pointer;
}
footer .containerFooter .footerRedirect:hover {
  cursor: pointer;
  color: white;
}
footer .containerFooter .contact {
  display: flex;
  flex-direction: column;
}
footer .containerFooter .partenaires {
  display: flex;
  flex-direction: column;
}
footer .containerFooter .service-client {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .avis .avisContainer {
    flex-wrap: wrap;
    width: 100%;
  }
  .avis .avisContainer .avisContainerCard {
    width: 45%;
  }

  footer .containerFooter {
    flex-wrap: wrap;
    flex-direction: column;
  }
  footer .containerFooter .contact, footer .containerFooter .partenaires, footer .containerFooter .service-client {
    width: 100%;
    margin-top: 20px;
    margin-left: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
